# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
*.py[cod]
*$py.class
*.pth

# Data files
*.pt
*.npz
*.csv
*.sdf
*.gz
*.swp
downstream/datasets/*/processed/
downstream/datasets/*/raw/

# Project file
logs/
application/
experiments/
*nonpublish.py
no_submission*
# Project exclude paths
/datasets/